extends ../layout/index

block contenido
	h1(class="text-center text-5xl uppercase bg-gradient-to-t bg-clip-text text-transparent font-bold from-sky-500 from- via-purple-400 via-40% to-cyan-300 to-") registro
	main
		h2(class="text-center text-2xl mb-5 uppercase bg-gradient-to-b bg-clip-text text-transparent font-bold from-sky-500 from- via-indigo-400 via- to-rose-600 to-") Formulario de registro

		if errores
			div(class="max-w-md mx-auto my-10")
				each error in errores
					p(class="bg-rose-400 text-white uppercase text-xs text-center p-2 mb-1 font-bold") #{error.msg}

		form(class="mx-auto max-w-md shadow-2xl p-3 w-auto rounded-lg bg-gradient-to-b from-cyan-500 from- via-sky-400 via- to-blue-800 to-" actions="/auth/registro" method="POST")
			div
				label(class="block")
					span(class="block text-lg text-gray-500") Nombre
					input(type="text" class="peer ... w-full rounded-lg p-2 border-none" placeholder="Nombe completo" name="nombre" value=usuario ? usuario.nombre:'')
					p(class="mt-2 invisible peer-invalid:visible text-rose-400 text-sm") Nombre completo
			div
				label(class="block" for="correo")
					span(class="block text-lg text-gray-500") Correo
					input(type="email" class="peer ... w-full rounded-lg p-2 border-none" placeholder="Correo personal ej: dnd@gmail.com" name="correo" value=usuario ? usuario.correo:'')
					p(class="mt-2 invisible peer-invalid:visible text-rose-400 text-sm") por favor validar que el correo este completo
			div
				label(class="block" for="password")
					span(class="block text-lg  text-gray-500") Contraseña
					input(type="password" class="peer ... w-full rounded-lg p-2 border-none" placeholder="Contraseña" name="password" value=usuario ? usuario.password:'')
					p(class="mt-2 invisible peer-invalid:visible text-rose-400 text-sm") contraseña no valida... debe ser mayor de 8 caracteres
			div
				label(class="block" for="repetir_pass")
					span(class="block text-lg  text-gray-500") Repetir Contraseña
					input(type="password" class="peer ... w-full rounded-lg p-2 border-none" placeholder="repite la Contraseña" name="repetir_pass" value=usuario ? usuario.repetir_pass:'')
					p(class="mt-2 invisible peer-invalid:visible text-rose-400 text-sm") contraseña no valida... debe ser mayor de 8 caracteres
			div
				input(type="submit" value="Registrar" class="bg-blue-600 hover:bg-blue-800 uppercase py-2 px-4 mb-3 rounded inline-flex items-center text-yellow-200")

			.flex.items-center.justify-between
				a.text-gray-500.text-xs(href="/auth/login") ¿Ya tienes cuenta ? Inicia sesión
				a.text-gray-500.text-xs(href="/auth/olvide-pass") Olvide mi contraseña